## sloeber sketches ##
core
Release
.settings
.project
.cproject
libraries
sloeber.ino.cpp

## cmake ##
.idea
cmake-build-debug
*.elf
*.hex
/.pio
/CMakeLists.txt
/cmake
*.sh
/Makefile
/platformio.ini
/CMakeList*